/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

    html {
      height: 100%;
    }
    body {
       width: 1211px;
       height: 100%;
       background-color:white
    }

    header {
        background-color: red;
        padding: 5px;
        font-size: 35;
        color: black;
        display: block;
        border: 15px solid blue;
        border-style:inset;

    }
    nav {
        float: left;
        width: 100%;
        background-color: FFF6D8
        border: 2px;


    }
    nav ul {
        padding: ;
        float: left;
        border-bottom: ;
        list-style-type: none;
    }
    nav li {
        float: left;
    }
    nav li a {
        display: block;
        background-color: blue;
        border: 20px solid red;
        height: 25px;
        padding: 10px 18px 8px 18px;
        vertical-align: middle;
    }
    a {
        color: ;
    }
    section {
        width: 100%;
        padding: 25px;
        display: inline-block;
        float: left;

    }
    footer {
        width: 790px;
        background-color: red;
        color:;
        clear: both;
        display: block;
    }
